<nav class="navbar">
    <div class="logo-section">
        <a href="/index.html" class="logo">ParamGuard</a>
        <span class="slogan">страхование без промедлений</span>
    </div>
    
    <ul class="nav-menu">
        <li><a href="/index.html">Главная</a></li>
        <li class="dropdown">
            <a href="#">Страхование</a>
            <div class="dropdown-content">
                <a href="/pages/insurance-travel.html">Путешествия</a>
                <a href="#" class="disabled">Авто (скоро)</a>
                <a href="#" class="disabled">Недвижимость (скоро)</a>
                <a href="#" class="disabled">Агро (скоро)</a>
            </div>
        </li>
        <li><a href="/pages/how-it-works.html">Как это работает</a></li>

        <li><a href="/pages/contacts.html">Контакты</a></li>
    </ul>
    
    <div class="user-icon" id="userIcon">
        <i class="fas fa-user"></i>
    </div>
</nav>